# Python Systemdateien
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Mac Systemdateien
.DS_Store

# IDE / Editor Einstellungen
.vscode/
.idea/

# Sensible Daten (API Keys)
.env

# Daten (nur falls du sie doch NICHT auf Git haben willst)
# raw_data/